body {
  background-color: rgb(11, 11, 14);
  color: white;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #04ad79;
  border-radius: 20px;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

h1,
h2,
p {
  margin: 0;
}
